.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 5px 5px;
  grid-template-areas:
    "Title ToolBar"
    "SideBar Body";
}

.Title { grid-area: Title; }

.ToolBar { grid-area: ToolBar; }

.SideBar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 5px 0px;
  grid-template-areas:
    "DawConfig"
    "RegisteredPlugins";
  grid-area: SideBar;
}

.DawConfig { grid-area: DawConfig; }

.RegisteredPlugins { grid-area: RegisteredPlugins; }

.Body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 0.5fr 0.5fr;
  gap: 5px 0px;
  grid-template-areas:
    "Playlist"
    "PianoRoll"
    "PromptOutput"
    "PromptInput";
  grid-area: Body;
}

.Playlist { grid-area: Playlist; }

.PianoRoll { grid-area: PianoRoll; }

.PromptOutput { grid-area: PromptOutput; }

.PromptInput { grid-area: PromptInput; }
