<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="#">
    <style>
        {{ layout }}
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
</head>
<body>
<div class="grid-container">
    <div class="Body">
        <div class="Playlist">
            playlist
        </div>
        <div class="PianoRoll">
            PianoRoll
        </div>
        <div class="Prompt">
            <div class="Output">
                Output
            </div>
            <div class="Input">
                <form method="POST">
                    <input name="text" id="inp">
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
    <div class="SideBar">
        <div class="DawConfig">
            {{ daw_config }}
        </div>
        <div class="RegisteredPlugins">RegisteredPlugins</div>
    </div>
</div>
</body>
</html>